.def {
    background-color: #eceff4;
    border-radius: 25px;
    padding: 13px;
    margin-bottom: 20px;
}

.font-size-larger {
    font-size: 26px;
}

.font-size-equation {
    font-size: 20px;
}

.logos img{
    height: 100px;
    margin: 20px 50px;
}

pre {
    /*transform: translateX(-8%) !important;*/
    width: 100% !important;
    box-shadow: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}